<div class="hero min-h-screen bg-base-600">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="../../assets/animeFigure.png"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">Shop Anime Figures</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a href="http://www.store.weebtrash.org" target="_blank">
        <button class="btn btn-primary">Start Shopping</button>
      </a>
    </div>
  </div>
</div>
