<div class="carousel sm:w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="../../assets/WeebTrashCuteTrashCan.svg" class="w-full" />
    <h1 class="z-20 text-black">Hello World</h1>
    <button class="btn btn-sm z-20">I'm a button</button>
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="../../assets/backgroundtile.jpg" class="w-full" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img
      src="../../assets/sludgemouth_cute_kawaii_trash_can_icon_black_and_white_anime_li_d64e77c9-1e0a-48c4-9578-797ab81155db.png"
      class="w-full"
    />

    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
