<div class="grid text-slate-100">
  <div class="hero min-h-screen bg-slate-800 lg:pr-20">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="../../assets/animeFigure.png"
        class="max-w-sm rounded-lg shadow-2xl hidden md:lg:block"
      />
      <div>
        <h1 class="text-5xl font-bold">Who We Are</h1>
        <hr />
        <p class="py-6 text-2xl">
          Welcome to Weeb Trash, our anime business based in the Metro Detroit
          area! We are a team of passionate anime and manga fans who specialize
          in bringing the best merchandise to our customers. Our store is
          dedicated to providing an extensive collection of figures, scrolls,
          posters, and more to satisfy the cravings of any anime or manga
          enthusiast.
        </p>
      </div>
    </div>
  </div>
  <div class="hero min-h-screen bg-slate-700 lg:pl-20">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="../../assets/animeFigure.png"
        class="max-w-sm rounded-lg shadow-2xl hidden md:lg:block"
      />
      <div>
        <h1 class="text-5xl font-bold">What We Do</h1>
        <hr />
        <p class="py-6 text-2xl">
          With a deep understanding of the anime culture and trends, we
          constantly update our inventory with the latest and greatest items,
          and we take pride in offering unique and hard-to-find pieces. Our
          commitment to quality customer service and competitive prices has made
          us a favorite destination for anime and manga lovers in the Metro
          Detroit area.
        </p>
      </div>
    </div>
  </div>
  <div class="hero min-h-screen bg-slate-800 lg:pr-20">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="../../assets/animeFigure.png"
        class="max-w-sm rounded-lg shadow-2xl hidden md:lg:block"
      />
      <div>
        <h1 class="text-5xl font-bold">Our Mission</h1>
        <hr />
        <p class="py-6 text-2xl">
          Whether you are looking to add to your personal collection or find a
          gift for a fellow fan, we are here to help. Check out our store and
          discover the world of anime and manga merchandise like never before!
          Maybe make company optional?
        </p>
      </div>
    </div>
  </div>
</div>
